@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
}
body{
    background-color: #cbdad5;
}
/* Primeira sessão */
.section-1{
    background-color: #566981;
    width: 100%;
    height: 90vh;
}
nav{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: none;
    font-size: 27px;
    color: #34344e;
    margin-top: 6px;
    margin-left: 25px;
    font-weight: 900;
}
.menu{
    margin: 6px 35px 0 0;
}
.icone{
    text-decoration: none;
    font-size: 24px;
    color: #34344e;
    margin: 6px 5px 0 5px;
    transition: 0.3s;
}
.icone:hover{
    font-size: 26px;
}
.text-animated{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
}
.container .estatico{
    color: #cbdad5;
    font-size: 60px;
    margin-top: 5px;
    font-weight: 400;
}
.container .dinamico{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dinamico li{
    color: #34344e;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    left: 0;
    position: relative;
    top: 0;
    animation: slide 4.5s steps(3) infinite;
}
@keyframes slide {
    100%{
        top: -270px;
    }
}
.dinamico li span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid #34344e;
    animation: typing 1.5s steps(10) infinite;
    background-color: #566981;
}
.dinamico li span{
    position: relative;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.arrow{
    width: 100%;
    text-align: center;
    animation: drop 3s infinite;
}
@keyframes drop{
    50%{
        font-size: 30px;
    }
    100%{
        font-size: 0px;
    }
}

/* Segunda sessão */

.section-2{
    width: 100%;
    height: 70vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.soueu{
    width: 90%;
    height: 50vh;
    margin-top: 50px;
    background-color: #3a415a ;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
}
.square{
    width: 30%;
    height: 100%;
    background-color: #566981;
    border-radius: 12px 0 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square > i {
    color: #cbdad5;
    font-size: 150px;
    animation: question 5s infinite;
}
@keyframes question{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(35deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-35deg);
    }
    100%{
        transform: rotate(0);
    }
}
.text-eu{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.text-eu > h3{
    color: #cbdad5;
    font-size: 22px;
    margin: 25px 0 5px 15px;
}
.text-eu > p{
    color: #cbdad5;
    font-size: 14px;
    margin: 5px 15px 5px 15px;
}

/* Terceira Sessão */
.section-3{
    width: 100%;
    height: 15vh;
}
.tecnologias{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tecnologias > h2 {
    font-size: 26px;
    color: #34344e;
    margin-bottom: 15px;
}
.container-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.card{
    width: 100px;
    height: 100px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card > i{
    font-size: 36px;
    margin-bottom: 5px;
    color: #34344e;
}
.card > p{
    font-size: 14px;
    color: #34344e;
}
/* quarta sessão */
.section-4{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.card-img{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10vh 2.5% 0 2.5%;
    text-decoration: none;
}
.card-img > h2 {
    color: #34344e;
    margin: 10px 0;
}
.card-img > img {
    border-radius: 12px;
}
.card-img > p{
    color: #34344e;
    margin: 10px 0;
}
/* Quinta sessão */
.section-5{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0 3vh 0;
}
.section-5 > h2{
    color: #34344e;
    margin: 25px 0;
}
.redes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contato-card{
    margin: 0 15px;
    text-align: center;
    text-decoration: none;
    color: #34344e;
    cursor: pointer;
}
.contato-card > i {
    font-size: 30px;
    margin-bottom: 5px;
}
footer{
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 5.5px;
    background-color: #34344e;
}
footer > p{
    color: #fff;
    font-size: 14px;
}
/* Responsive method tablet */
@media (max-width: 1024px){
    .container{
        flex-direction: column;
    }
    .estatico{
        text-align: center;
    }
    .container .dinamico{
        text-align: center;
    }
}
@media (max-width: 767px){
    .square{
        width: 70%;
    }
    .square > i{
        font-size: 100px;
    }
    .section-4{
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }
    .card-img{
        width: 80%;
        margin: 0;
    }
}